
Dokumentáció minták/Gergely Rebekea.pdf
Dokumentáció minták/Juhos_Benjámin.pdf
Dokumentáció minták/Kinippl Kitti.pdf
Dokumentáció minták/Lörincz Brigitta.pdf

APP/nonogram/.vs/FileContentIndex/


*.vsidx
/Dokumentáció/~$NONOGRAM.pptx
/Dokumentáció/~$atbázis normalizálás.docx
/APP/nonogram/.vs/nonogram/CopilotIndices
/.gitignore
